<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Agent Finder</title>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 43%;font-size: 25px;font-weight: bold">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Places
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=New York City&ct=New York">New York City, New York</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Boston&ct=Massachusetts">Boston, Massachusetts</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Los Angeles&ct=California">Los Angeles, California</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Chicago&ct=Illinois">Chicago, Illinois</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Houston&ct=Texas">Houston, Texas</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Phoenix&ct=Arizona">Phoenix, Arizona</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=San Diego&ct=California">San Diego, California</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Dallas&ct=Texas">Dallas, Texas</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=San Jose&ct=California">San Jose, California</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Austin&ct=Texas">Austin, Texas</a>
          <a class="dropdown-item" href="{% url 'nearestAgent' %}?ict=Columbus&ct=Ohio">Columbus, Ohio</a>

        </div>
      </li>
    </ul>
  </div>
</nav>
  {% block content %}

  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
